. {
    box-sizing: border-box;
}

body {
    margin: 0rem 0rem;
}

:root {
    --primary-color: #8B5CF6;

}

.navigation {
    text-align: center;
    background-color: var(--primary-color);
    min-height: 3rem;
    width: 100%;
    padding: 1rem 1rem;
}

.navigation div {
    text-align: center;
    background-color: var(--primary-color);
    min-height: 3rem;
    width: 100%;
    padding: 1rem 1rem;
    color: white;
    text-justify: auto;
}

.container {
    width: 100%;
    min-height: 10rem;
    padding: 3rem 3rem;
    text-align: center;
    align-items: center;
    align-content: center;
}

.container input {
    display: block;
    margin: auto;
}

.container .warning {
    color: red;
    display: None;
}

.container li {
    list-style-type: none;
}


.container li div{
    display: inline;
    min-width:  1rem;
    padding: 0.5rem 0.5rem;
    text-align: left;
}


.footer {
    background-color: var(--primary-color);
    min-height: 2rem;
    width: 100%;
}

.footer div {
    text-align: center;
    background-color: var(--primary-color);
    min-height: 3rem;
    width: 100%;
    padding: 1rem 1rem;
    color: white;
    text-justify: auto;
}